*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  


body{
    background-color: #FFF1E6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
}

section{
    background-color:#FFF1E6;
}

img{
    max-width: 320px;
    float: left;
    margin-right: 15px;
}
.menu h2{
    font-size: 35px;
}
h2.clear{
    clear: both;
}

#location{
    margin-top: 35px;
    margin-bottom: 0;
}
#address{
    font-size: 25px;
    text-align: center;
    margin: 5px;
}
.text h1{
    text-align:center;
    font-size: 50px;
    padding: 5px;
}
.text h2{
    margin-bottom: 15px;
}
.text p{
    font-size: 18px;
}

h1{
    text-align: center;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .gallery::after {
    content: "";
    width: 350px;
  }
  

nav{
    background-color:  #FFF1E6;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
}
nav a:hover{
    background-color: #ded2c8;
    color: rgb(0, 0, 0);
}

nav li:first-child{
    margin-right: auto;
}


.item{
    text-align: center;
    margin-bottom: 5px;
}
.item p{
    display: inline-block;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.item-burger{
    text-align: left;
    width: 25%;
    margin-bottom: 10px;
}

.menu{
        display: block;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-left: auto;
        margin-right: auto;
}

.price{
    text-align: right;
    width: 25%;
}


.sidebar{
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #FFF1E6;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

#spicy-king-logo{
    max-width: 350px;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.text h1{
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.menu-lists{
    border: groove rgba(0,0,0,0.1) 2px;
    background-color:  #eadcd1;
    margin-left: 25%; 
    margin-right: 25%; 
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu{
    font-size: 35px;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
button a{
    text-decoration: none;
    color: white;
}

button:hover{
    background-color: rgb(79, 79, 79);
}

.contact{
    min-height: 100vh;
    padding:50px;
    text-align: center;
}
.new-container{
    max-width: 800px;
    margin: 0 auto;
}
.new-container h2{
    font-size: 36px;
    margin-bottom: 40px;
}
.new-contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
}

input:focus,
textarea:focus{
    outline:none;
    box-shadow: 0 0 8px #bbb;
}

.contact-form button{
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    cursor: pointer;
}

.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.contact-info p{
    margin-bottom: 10px;
}
.contact-info i{
    color: rgb(154, 0, 0);
    margin-right: 10px;
}
.footer{
    background-color:  #FFF1E6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.footer p{
    text-align: center;
}

.column {
    float: left;
    width: 50%;
  }
  
   .row:after {
    content: "";
    display: table;
    clear: both;
  }

.map-responsive {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width:  60%;
    position: absolute;
}

@media screen and(max-width: 768px){
    .new-container{
        padding: 20px;
    }
    .new-contact-wrapper{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    #description{
        margin-left: 5%;
        margin-right: 5%;
    }
    .menu-lists{
        margin: 0;
    }
    .item{
        text-align:none;
    }
    .item p{
        padding: 0;
        margin-right: 0;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .item-burger{
        font-size: 9px;
        padding: 20px;
    }
    .price{
        font-size: 9px;
        margin-left: 20px;
    }
    #address{
        font-size: 19px;
    }
    .map-responsive iframe{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 75%;
        width:  100%;
        position: absolute;
    }
    #clear{
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
    }
    

}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
@media only screen and (max-width: 700px){
    .my-projects{
        width: 49.9999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .my-projects {
      width: 100%;
    }
}

@media screen and(max-width: 768px){
    .container{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 650px) {
    .column {
      width: 300px;
    }
  }